@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@*ملاحظة: هذا الكود بالاعلى سيسمح لكل الروابط في الموقع بالعمل على سبيل المثال 
الكود التالي     <a asp-action="Create">Create New</a>

سيتم تفعيله كرابط بعد كتابة هذا الكود وقمنا بوضعه في ملف 
_ViewImports 
لكي يعمل في كل الصفحات دون الحاجة لتكراره فيها
*@